<div class="search-location">
  <div><label>Where are you going?</label></div>
  <input  type="text" placeholder="Enter Location"/>
</div>

<div class="date-details">
  <div class="check-in-details">
    <div><label>Check-in</label></div>
    <input  type="date" name="check_in_date" value="2019-10-12" #check_in_date/>
  </div>

  <div class="check-out-details">
    <div><label>Check-out</label></div>
    <input  type="date" #check_out_date value="2019-10-14"/>
  </div>

  <div class="guest-details">
    <div><label>Guests</label></div>
    <input type="number" min="1" max="20" value="1" #guests/>
  </div>

  <div class="guest-details">
    <button type="button" (click)="search(check_in_date,check_out_date,guests)">Search For Hotels</button>
  </div>
</div>








<router-outlet></router-outlet>